@use "sass:list";

/* 添加这段样式后，Primary Button 会变成红色 */
:root:root {
    --van-calendar-range-middle-color: var(--primary);
    --van-button-primary-border-color: var(--primary);
    --van-calendar-range-edge-background: var(--primary);
    --van-button-primary-background: var(--primary);
    --van-picker-confirm-action-color: var(--primary);
    --van-tabs-bottom-bar-color: var(--primary);
}

html {
    scroll-behavior: 'smooth';
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: var(--text);
    background: var(--background);
    font-size: var(--font-size);
}


$directions: (
    't': 'top',
    'b': 'bottom',
    'l': 'left',
    'r': 'right',
);
$dimensions: (
    'p': 'padding',
    'm': 'margin',
);

// m-l-5 p-b-15
//获取padding margin间隔
@each $dim in $dimensions {

    //循环四个方向 
    @each $dir in $directions {
        @for $i from 1 through 20 {
            $size: $i * 5;

            .#{list.nth($dim,1)}-#{list.nth($dir,1)}-#{$size} {
                #{list.nth($dim,2)}-#{list.nth($dir,2)}: #{$size}px;
            }
        }
    }
}

// m-5 p-15
@each $dim in $dimensions {
    @for $i from 1 through 20 {
        $size: $i * 5;

        .#{list.nth($dim,1)}-#{$size} {
            #{list.nth($dim,2)}: #{$size}px;
        }
    }
}

::-webkit-scrollbar-track {
    cursor: pointer !important;
    background-color: transparent;
    border: 0;
}

::-webkit-scrollbar {
    height: 10px;
    width: 4px;
    background-color: #C7010130;
    border: 0;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 12px;
    background-color: #B30101 !important;
}

/* 修改Vant Toast文字大小的CSS */
.van-toast {
    font-size: 16px !important;
}

/* 高德地图logo隐藏 */
.amap-logo,
.amap-copyright {
    display: none !important;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.g-fullscreen {
    padding-top: 40px;

    .g-content {
        box-sizing: border-box;
        overflow-y: auto;
        // height: var(--viewport-height-big);
    }

}

.g-navigation {
    height: var(--up-bar-height);
    width: 100vw;
    box-sizing: border-box;
    background: var(--primary);
    line-height: var(--up-bar-height);
    color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    padding: 0 10vw;

    .logo {
        width: 70px;
        height: 70px;
        margin-left: -3px;
        margin-top: -2px;
    }

    .logos {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.7);
    }
}




.flex1 {
    flex: 1;
}

.fs0 {
    flex-shrink: 0;
}

.g-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-row {
    display: flex;
}

.g-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.g-row-left {
    display: flex;
    align-items: center;
}

.g-row-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.g-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g-col {
    display: flex;
    flex-direction: column;
}

.g-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.g-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.g-line-through {
    text-decoration: line-through;
}

.g-middle {
    vertical-align: middle;
}

.g-wrap {
    flex-wrap: wrap;
}

.break-all {
    word-break: break-all;
}

.g-pointer {
    cursor: pointer;
}

.g-default {
    cursor: default;
}



.c33 {
    color: #333333;
}

.c66 {
    color: #666666
}

.c-white {
    color: white;
}

.c-green {
    color: var(--color-green) !important;
}

.b-graypage {
    background: var(--gray-bg) !important;
}

.b-white {
    background: white;
}

.b-green {
    background: var(--color-green) !important;
}

.c-green-light {
    color: var(--color-green-light) !important;
}

.b-green-light {
    background: var(--color-green-light) !important;
}

.c-red {
    color: var(--color-red) !important;
}

.b-red {
    background: var(--color-red) !important;
}

.c-gray {
    color: var(--color-gray) !important;
}

.b-gray {
    background: var(--color-gray) !important;
}

.c-blue {
    color: var(--color-blue) !important;
}

.b-blue {
    background: var(--color-blue) !important;
}

.bold {
    font-weight: bold;
}

.shadow-card {
    background: linear-gradient(221deg, rgba(255, 255, 255, 0.98) 0%, #FFFFFF 100%);
    box-shadow: 0px 5px 30px 1px rgba(197, 202, 213, 0.25);
    border-radius: 8px 8px 8px 8px;
}

.g-btn {
    padding: 8px 4px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background: #c7010110;
    border-radius: 4px;
    border: 1px solid var(--primary);
}

.g-active-background {
    background: #c7010116;
    border-radius: 6px;
    border: 1px solid var(--color-green-light);
}

.g-background {
    backdrop-filter: var(--primary);
}

.g-tag {
    margin-left: 4px;
    padding: 3px;
    border-radius: 2px;
    font-size: 12px;
    color: white;
}