:root {
    --primary: #c70101;
    --primarylight: #C7010130;
    --primary-bg: #23995910;
    --gray-bg: #F8F8F8;
    --text: #333333;
    --background: #ffffff;
    --color-green: #c70101;
    --color-green-light: #DD6767;
    --color-red: #D84D4D;
    --color-gray: #DDDDDD;
    --color-blue: #02A7F0;
    --font-size: 14px;
    --up-bar-height: 80px;
    --down-bar-height: 60px;
    /* 40为标顶部标题栏高度 */
    --viewport-height-big: calc(100vh - 40px);
    /* 100为顶部标题栏高度加底部导航栏高度 */
    --viewport-height-mini: calc(100vh - 100px);
}

@media (prefers-color-scheme: dark) {

    /* 系统为黑夜模式 */
    :root {
        --primary: #111827;
        --text: #ffffff;
        --background: #11182730;
        --primarylight: #11182730;
        --gray-bg: #161f32;
    }

}